extends ./layout.jade

block js
  script(src='/libs/profile.js')
  script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
  script.
    var user=!{JSON.stringify(user)}

block body
  body
    include ./navbar.jade
    .container
      ol.breadcrumb
        li
          a(href='/profile') #{user.username}
        li
          label Profile
      p
        h1 #{user.username}:
      p
        pre.prettyprint !{JSON.stringify(user, null, 4)}
      .row
        .col-md-6
          p
            h1 Admin
          p
            ul
              li
                a#ManageUsers Manage Users
              li
                a#ManageMessages Manage Messages
              li
                a#AddUserRole Add user role
              li
                a#DeleteUserRole Delete user from role
              li
                a#GetUserRoles Get user roles
              li
                a#AllowPermission Set permission to resource
              li
                a#RemovePermission Delete permission to resource
              li
                a#RemoveRole Remove role
              li
                a#RemoveResource Remove resource
              li
                a#WhatResources What resources allowed
          p
            h1 Emails
          p
            ul
              li
                a#SendRawEmail Send raw email
              li
                a#SendWelcomeEmail Send welcome email
              li
                a#SendEmailWithAttachments Send email with attachments
          p
            h1 SMS
          p
            ul
              li 
                a#SendSMSMessage Send sms message
        .col-md-6
          p
            h1 Foursquare
          p
            ul
              li 
                a(href="/foursquare") Get Foursquare token
              li 
                a#SearchFoursquareVenues Search venues
              li 
                a#GetFoursquareVenuewDetails Get venue details
              li 
                a#GetFoursquareVenueTips Get venue tips
          p
            h1 Locu
          p
            ul
              li 
                a#SearchLocuVenues Search venues
              li 
                a#GetLocuVenuewDetails Get venue details
          p
            h1 Linking accounts
          p
            ul
              li 
                a(href='/auth/facebook/link?token=#{user.token}') Link Facebook Account
              li 
                a#UnlinkFacebookAccount Unlink Facebook Account
              li 
                a#LinkTwitterAccount Link Twitter
              li 
                a#UnlinkTwitterAccount Unlink Twitter Account
              li 
                a(href='/auth/linkedin/link?token=#{user.token}') Link LinkedIn Account
              li 
                a#UnlinkLinkedInAccount Unlink LinkedIn Account
      br
    //include ./footer.jade
